.menupic img{


    height: 140px;
    width:25%;
    margin: 20px;
    font-size: 70px;
     cursor: pointer;
     border-top-color: chartreuse;
     border-bottom-color: cornflowerblue;
     background-color: brown;
     display:flex;
}

@media only screen and (min-width: 700px )  {
    
    .menupic img
    {
        width:30%;
        height: 200px;
        display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;

    }    








}
